<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchN</title>
    <link rel="stylesheet" href="{% static 'searchN.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let currentPage = 1;
        let count = 0;

        function loadImages(page = currentPage) {
            currentPage = page;
            $.get(`/app/search/?page=${page}`, function (data) {
                $('#images-section').html(data.html);
            });
        }
        function checkForNewData() {
            console.log(window.location.href);
            $.get("{% url 'get_count' %}", (data) => {
                if (data.count != count) {
                    count = data.count;
                    loadImages(); // Reload images if new data is available
                }
            })
        }
        $(document).ready(function () {
            loadImages(); // Initial load
            // Check for new data every 5 seconds
            setInterval(checkForNewData, 60000);
        });
        // Intercept pagination link clicks
            $(document).on('click', '.pagination-link', function (e) {
                e.preventDefault();
                const page = $(this).attr('href').split('page=')[1];
                loadImages(page);
            });
    </script>
</head>
<body>
    <div class="form-body">
        {% include 'searchQuery.html' %}
        
        <div class="imageForm" id="images-section">
            {% include 'image_list.html' %}
        </div>
    </div>
</body>
</html>